@import url(../base.css);
/*top Start*/
.hnz_top_box{
	min-width:1002px;
	height:42px;
	background:url(../../images/hnz_top_bg.jpg) repeat-x 0 0;
	}
.hnz_top{
	width:1002px;
	height:100%;
	margin:0 auto;

	}
.hnz_top a{
	float:left;
	padding-left:55px;
	width:68px;
	height:40px;
	line-height:40px;
	color:#888;
	}
.hnz_top .hnz_top_home{
	background:url(../../images/icon_home1.jpg) no-repeat 15px 8px;
	}
.hnz_top .hnz_top_blog{
	background:url(../../images/icon_party1.jpg) no-repeat 15px 8px;
	}
.hnz_top .hnz_top_abtus{
	background:url(../../images/icon_party1.gif) no-repeat 15px 8px;
	}
.hnz_top a:hover{
	color:#fff;
	height:38px;
	line-height:36px;
	border-top:2px solid #0391da;
	}
.hnz_top .hnz_top_home:hover{
	background:#5a5a5a url(../../images/icon_home.jpg) no-repeat 15px 6px;
	}
.hnz_top .hnz_top_blog:hover{
	background:#5a5a5a url(../../images/icon_party.jpg) no-repeat 15px 6px;
	}
.hnz_top .hnz_top_abtus:hover{
	background:#5a5a5a url(../../images/icon_party.gif) no-repeat 15px 6px;
	}
.hnz_clock{
	width:190px;
	height:39px;
	float:right;
	background:#f0f0f0;
	line-height:39px;
	color:#888;
	}
.hnz_clock_icon{
	margin:9px 10px 0 18px;
	float:left;
	}
.hnz_clock_date{
	margin-right:14px;
	}
/*top End*/
/*logo Start*/
.hnz_logo_out{
	min-width:1002px;
	height:130px;
	background:#f8f8f8;
	}
.hnz_logo_box{
	width:1002px;
	height:130px;
	margin:0 auto;
	}
.hnz_logo{
	width:305px;
	height:90px;
	margin-top:20px;
	background:url(../../images/hnz_logo.jpg) no-repeat 0 0;
	}
.hnz_search{
	width:338px;
	height:38px;
	
	margin:68px 0 0 0;
	border:1px solid #e3e3e3;
	}
.hnz_search form{
	width:100%;
	height:100%;
	background:#fff;
	}
.hnz_search input{
	height:38px;
	color:#888;
	padding-left:15px;
	width:241px;
	border:0;
	line-height:38px;
	float:left;
	}
.hnz_search a{
	-webkit-transition:background 0.3s;
	transition:background 0.3s;
	}
.hnz_search_mic{
	float:left;
	width:38px;
	height:20px;
	margin-top:9px;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	background:url(../../images/icon_mic1.jpg) no-repeat center center;
	}
.hnz_search_mic:hover{
	background:url(../../images/icon_mic.jpg) no-repeat center center;
	}
.hnz_search_icon{
	float:left;
	width:38px;
	height:20px;
	margin-top:9px;
	background:url(../../images/icon_search1.jpg) no-repeat center center;
	}
.hnz_search_icon:hover{
	background:url(../../images/icon_search.jpg) no-repeat center center;
	}
/*logo End*/
/*Nav Start*/
.hnz_nav_box{
	min-width:1102px;
	height:51px;
	border-bottom:1px solid #fff;
	background:#0391da;
	box-shadow:2px 2px 8px #888;
	position:relative;
	}
.hnz_nav{
	width:1001px;
	height:100%;
	margin:0 auto;
	border-left:1px solid #09a8fa;
	}
.hnz_nav a{
	float:left;
	width:110px;
	height:100%;
	line-height:52px;
	color:#a6e1ff;
	font-size:14px;
	text-align:center;
	-webkit-transition:background 0.3s;
	transition:background 0.3s;
	border-left:1px solid #0085c9;
	border-right:1px solid #09a8fa;
	}
.hnz_nav a:hover{
	background:#0085c9;
	color:#fff;
	} 
.hnz_nav_hot{
	background:#0085c9;
	color:#fff;
	}
/*Nav End*/
/*Banner Start*/
.hnz_banner_box{
	min-width:1002px;
	height:395px;
	/*background:#ebebeb url(../../images/hnz/hnz_banner_bg.jpg) no-repeat center -1px;*/
	}
.hnz_banner_inner{
	width:1002px;
	height:395px;
	margin:0 auto;
	}
.hnz_banner{
	width:700px;
	height:330px;
	background:#fff;
	margin-top:17px;
	border:2px solid #fff;
	float:left;
	box-shadow:0 0 8px #aaa;
	overflow:hidden;
	position:relative;
	}
.hnz_banner a{
	display:block;
	width:700px;
	height:330px;
	overflow:hidden;
	}
.hnz_banner_btn{
	width:660px;
	padding-left:40px;
	height:32px;
	position:absolute;
	z-index:2;
	background:#000;
	bottom:0;
	left:0;
	opacity:0.5;
	filter:alpha(opacity=50);
	}
.hnz_banner_btn li{
	margin-right:5px;
	float:left;
	width:10px;
	height:10px;
	cursor:pointer;
	border-radius:50%;
	margin-top:11px;
	background:#fff;
	overflow:hidden;
	}
.hnz_banner_btn .hnz_banner_hot{
	width:8px;
	height:8px;
	background:none;
	border:1px solid #fff;
	}
.hnz_banner_login{
	width:286px;
	height:334px;
	margin-top:17px;
	box-shadow:0 0 8px #aaa;
	float:right;
	overflow:hidden;
	background: url(../../images/hnz/hnz_login_bg.png) repeat 0 0;
	}
.hnz_login_t{
	width:100%;
	height:90px;
	}
.hnz_login_t .hnz_login_user,.hnz_login_ent{
	width:50%;
	height:100%;
	float:left;
	position:relative;
	cursor:pointer;
	}
.hnz_login_t .hnz_login_hot:after{
	content:"";
	width:0;
	height:0;
	border-top:6px solid #0391DA;
	border-left:6px solid rgba(0,0,0,0);
	border-right:6px solid rgba(0,0,0,0);
	position:absolute;
	z-index:200;
	bottom:-6px;
	left:50%;
	margin-left:-6px;
	}
.hnz_banner_login form{
	width:100%;
	height:230px;
	}
.hnz_login_user{
	background:#0391da;
	}
.hnz_login_ent{
	background:#007dba;
	}
.hnz_login_user .hnz_user_icon{
	width:100px;
	height:55px;
	margin:0 auto;
	background:url(../../images/hnz/hnz_login_user.png) no-repeat center center;
	border-bottom:1px dashed #fff;
	}
.hnz_login_user .hnz_user_text{
	width:100px;
	height:auto;
	margin:0 auto;
	text-align:center;
	line-height:30px;
	color:#fff;
	}
.hnz_login_ent .hnz_ent_icon{
	width:100px;
	height:55px;
	margin:0 auto;
	background: url(../../images/hnz/hnz_login_ent.png) no-repeat center center;
	border-bottom:1px dashed #a6defa;
	}
.hnz_login_ent .hnz_ent_text{
	width:100px;
	height:auto;
	margin:0 auto;
	text-align:center;
	line-height:30px;
	color:#fff;
	}
	
.hnz_login_input .hnz_login_u,.hnz_login_pwd{
	_display:inline;
	width:220px;
	padding-left:25px;
	margin:0 auto;
	line-height:30px;
	color:#8e8e8e;
	height:30px;
	border:0;
	border-bottom:1px solid #cecece;
	margin-left:21px;
	font-size:14px;
	background-color:inherit;
	}
.hnz_login_input .hnz_login_u{
	margin-top:40px;
	background: url(../../images/hnz/hnz_login_user.gif) no-repeat 0 center;
	
	}
.hnz_login_input .hnz_login_pwd{
	margin-top:20px;
	background: url(../../images/hnz/hnz_login_pwd.gif) no-repeat 0 center;
	}
.hnz_login_input_btn{
	width:245px;
	height:35px;
	margin:20px auto;
	}
.hnz_login_input_btn input{
	float:left;
	width:170px;
	height:35px;
	border:0;
	font-size:14px;
	color:#fff;
	background:#0391da;
	}
.hnz_login_input_btn a{
	float:right;
	width:63px;
	height:33px;
	border:1px solid #c6c6c6;
	font-size:14px;
	color:#8e8e8e;
	text-align:center;
	line-height:33px;
	}
.hnz_login_lpwd{
	display:block;
	padding-left:25px;
	width:220px;
	height:33px;
	line-height:33px;
	margin:0 auto;
	font-size:14px;
	color:#8e8e8e;
	background:url(../../images/hnz/hnz_login_help.gif) no-repeat 0 center;
	}
/*Banner End*/
/*兼职信息 Start*/
.hnz_fl_info_box{
	min-width:1002px;
	height:455px;
	border-top:1px solid #dad7d7;
	border-bottom:1px solid #dad7d7;
	background:#fcfcfc url(../../images/hnz/hnz_fl_bg.jpg) no-repeat center 0;
	position:relative;
	z-index:2px;
	box-shadow:2px 3px 8px #ccc;
	}
.hnz_fl_info{
	width:1002px;
	height:100%;
	margin:0 auto;
	}
.hnz_fl_info_title{
	width:247px;
	height:74px;
	position:relative;
	left:50%;
	top:-11px;
	margin-left:-118px;
	}
.hnz_fl_infor_list{
	width:100%;
	height:381px;
	}
.hnz_fl_infor_list li{
	width:20%;
	height:133px;
	margin-top:40px;
	float:left;
	}
.hnz_fl_infor_list li a{
	display:block;
	width:100%;
	padding-top:95px;
	height:38px;
	text-align:center;
	font-size:14px;
	transition:background 0.3s linear;
	-webkit-transition:background 0.3s linear;
	}
.hnz_fl_infor_list li a span{
	display:block;
	width:40px;
	height:1px;
	margin:10px auto 0;
	background:#8e8e8e;
	overflow:hidden;
	}
.hnz_fl_infor_list .hnz_fl_sj{
	background: url(../../images/hnz/hnz_fl_sj.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_sj:hover{
	color:#0391da;
	background: url(../../images/hnz/hnz_fl_sj2.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_jj{
	background: url(../../images/hnz/hnz_fl_jj.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_jj:hover{
	color:#0391da;
	background: url(../../images/hnz/hnz_fl_jj2.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_qdy{
	background: url(../../images/hnz/hnz_fl_qdy.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_qdy:hover{
	color:#0391da;
	background: url(../../images/hnz/hnz_fl_qdy2.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_pd{
	background: url(../../images/hnz/hnz_fl_pd.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_pd:hover{
	color:#0391da;
	background: url(../../images/hnz/hnz_fl_pd2.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_yy{
	background: url(../../images/hnz/hnz_fl_yy.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_yy:hover{
	color:#0391da;
	background: url(../../images/hnz/hnz_fl_yy2.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_fwy{
	background: url(../../images/hnz/hnz_fl_fwy.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_fwy:hover{
	color:#0391da;
	background: url(../../images/hnz/hnz_fl_fwy2.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_yc{
	background: url(../../images/hnz/hnz_fl_yc.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_yc:hover{
	color:#0391da;
	background: url(../../images/hnz/hnz_fl_yc2.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_lsg{
	background: url(../../images/hnz/hnz_fl_lsg.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_lsg:hover{
	color:#0391da;
	background: url(../../images/hnz/hnz_fl_lsg2.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_dk{
	background: url(../../images/hnz/hnz_fl_dk.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_dk:hover{
	color:#0391da;
	background: url(../../images/hnz/hnz_fl_dk2.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_hy{
	background: url(../../images/hnz/hnz_fl_hy.jpg) no-repeat center 0;
	}
.hnz_fl_infor_list .hnz_fl_hy:hover{
	color:#0391da;
	background: url(../../images/hnz/hnz_fl_hy2.jpg) no-repeat center 0;
	}
/*文件列表*/
.hnz_fl_fls_box{
	min-width:1002px;
	height:485px;
	background:#f1f1f1;
	}
.hnz_fl_fls{
	width:1002px;
	height:100%;
	margin:0 auto;
	}
.hnz_fl_fls a{
	float:left;
	margin-top:52px;
	margin-left:12px;
	width:488px;
	height:90px;
	overflow:hidden;
	}
.hnz_fl_fls a:hover .hnz_fls_date{
	background:#ff9600;
	color:#fff;
	} 
.hnz_fl_fls a .hnz_fls_left{
	width:178px;
	height:87px;
	border:1px solid #A09E9E;
	float:left;
	overflow:hidden;
	}
.hnz_fls_date{
	width:89px;
	height:88px;
	float:left;
	color:#a09e9e;
	}
.hnz_fls_date span{
	display:block;
	width:100%;
	height:60px;
	line-height:70px;
	text-align:center;
	font-size:45px;
	overflow:hidden;
	}
.hnz_fls_date i{
	display:block;
	width:100%;
	line-height:24px;
	font-style:normal;
	font-size:14px;
	text-align:center;
	}
.hnz_fls_img{
	float:left;
	width:89px;
	height:88px;
	overflow:hidden;
	}
.hnz_fls_img img{
	width:89px;
	}
.hnz_fls_right{
	width:298px;
	height:90px;
	float:left;
	padding-left:10px;
	}
.hnz_fls_right h3{
	height:38px;
	line-height:38px;
	font-size:18px;
	border-bottom:1px dashed #a09e9e;
	}
.hnz_fls_right p{
	width:100%;
	padding-top:8px;
	height:43px;
	line-height:18px;
	}
.hnz_fl_fls .hnz_fls_more{
	display:block;
	width:130px;
	margin-top:20px;
	height:30px;
	border:1px solid #007ab9;
	color:#007ab9;
	border-radius:15px;
	text-align:center;
	line-height:30px;
	float:right;
	}
.hnz_fl_fls .hnz_fls_more:hover{
	color:#ff9600;
	border-color:#ff9600;
	}
/*兼职信息 End*/
.hnz_gg_box{
	min-width:1002px;
	height:242px;
	background:#f8f8f8 url(../../images/hnz/hnz_gg_img.jpg) no-repeat  center top;
	overflow:hidden;
	border-top:1px solid #e6e6e6;
	border-bottom:10px solid #e6e6e6;
	}
.hnz_gg{
	display:block;
	background:#fff;
	width:1000px;
	height:184px;
	padding:2px;
	margin:30px auto 0;
	overflow:hidden;
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	}
.hnz_gg:hover{
	-webkit-transform:translateY(-10px);
	transform: translateY(-10px);
	}
.hnz_gg img{
	width:100%;
	}
/*星级评测 Start*/
.hnz_star_box{
	min-width:1002px;
	height:527px;
	box-shadow:2px 2px 5px #aaa;
	position:relative;
	background:#fcfcfc url(../../images/hnz/hnz_star_bg.jpg) no-repeat center 0;
	}
.hnz_star{
	width:1002px;
	height:100%;
	margin:0 auto;
	overflow:hidden;
	}
.hnz_star_title{
	width:247px;
	height:74px;
	position:relative;
	top:-11px;
	left:50%;
	margin-left:-119px;
	background:url(../../images/hnz/hnz_star_title.jpg) no-repeat 0 0;
	}
.hnz_star_top{
	width:100%;
	height:56px;
	border-bottom:1px dashed #979797;
	}
.hnz_star_top_link{
	width:298px;
	height:32px;
	margin:0 auto;
	border:1px solid #008cd4;
	border-radius:16px;
	overflow:hidden;
	}
.hnz_star_top_link a{
	width:50%;
	float:left;
	height:100%;
	line-height:32px;
	text-align:center;
	color:#008cd4;
	font-size:14px;
	}
.hnz_star_top_link .hnz_star_hot{
	color:#fff;
	background:#008cd4;
	}
.hnz_star_list{
	width:100%;
	height:397px;
	overflow:hidden;
	}
.hnz_star_list .hnz_star_list_one{
	float:left;
	width:20%;
	height:100%;
	}
.hnz_star_list_one ul{
	width:145px;
	height:145px;
	margin:50px auto 30px;
	background:#c6c6c6;
	box-shadow:0 2px 8px #ccc;
	border-radius:50%;
	border:3px solid #fff;
	}
.hnz_star_list_one:hover{
	color:#008cd4;
	}
.hnz_star_list_one:hover ul{
	background:#ff9600;
	}
.hnz_star_list_one ul li{
	width:123px;
	height:123px;
	margin:8px auto;
	border-radius:50%;
	border:3px solid #fff;
	overflow:hidden;
	}
.hnz_star_list_one ul li img{
	width:100%;
	}
.hnz_star_list_one h3{
	width:100%;
	height:30px;
	font-size:18px;
	line-height:30px;
	text-align:center;
	}
.hnz_star_list_one p{
	width:100%;
	height:24px;
	line-height:24px;
	text-align:center;
	font-size:14px;
	color:#a9a8a8;
	}
.hnz_star_list_one i{
	display:block;
	width:60px;
	margin:20px auto;
	border-bottom:1px solid #a9a8a8;
	}
.hnz_star_list_one span{
	display:block;
	width:129px;
	height:17px;
	margin:0 auto;
	}
.hnz_star_list_one .hnz_star5{
	background:url(../../images/hnz/hnz_star.jpg) no-repeat 0 0;
	}
.hnz_star_list_one .hnz_star4{
	background:url(../../images/hnz/hnz_star.jpg) no-repeat 0 -30px;
	}
.hnz_star_list_one .hnz_star3{
	background:url(../../images/hnz/hnz_star.jpg) no-repeat 0 -59px;
	}
.hnz_star_list_one .hnz_star2{
	background:url(../../images/hnz/hnz_star.jpg) no-repeat 0 -92px;
	}
.hnz_star_list_one .hnz_star1{
	background:url(../../images/hnz/hnz_star.jpg) no-repeat 0 -120px;
	}
/*星级评测 End*/











