@import url(../base.css);
/*top Start*/
.hnz_top_box{
	min-width:1002px;
	height:42px;
	background:url(../../images/hnz_top_bg.jpg) repeat-x 0 0;
	}
.hnz_top{
	width:1002px;
	height:100%;
	margin:0 auto;

	}
.hnz_top a{
	float:left;
	padding-left:55px;
	width:68px;
	height:40px;
	line-height:40px;
	color:#888;
	}
.hnz_top .hnz_top_home{
	background:url(../../images/icon_home1.jpg) no-repeat 15px 8px;
	}
.hnz_top .hnz_top_blog{
	background:url(../../images/icon_party1.jpg) no-repeat 15px 8px;
	}
.hnz_top .hnz_top_abtus{
	background:url(../../images/icon_party1.gif) no-repeat 15px 8px;
	}
.hnz_top a:hover{
	color:#fff;
	height:38px;
	line-height:36px;
	border-top:2px solid #0391da;
	}
.hnz_top .hnz_top_home:hover{
	background:#5a5a5a url(../../images/icon_home.jpg) no-repeat 15px 6px;
	}
.hnz_top .hnz_top_blog:hover{
	background:#5a5a5a url(../../images/icon_party.jpg) no-repeat 15px 6px;
	}
.hnz_top .hnz_top_abtus:hover{
	background:#5a5a5a url(../../images/icon_party.gif) no-repeat 15px 6px;
	}
.hnz_clock{
	width:190px;
	height:39px;
	float:right;
	background:#f0f0f0;
	line-height:39px;
	color:#888;
	}
.hnz_clock_icon{
	margin:9px 10px 0 18px;
	float:left;
	}
.hnz_clock_date{
	margin-right:14px;
	}
/*top End*/
/*logo Start*/
.hnz_logo_box{
	width:1002px;
	height:130px;
	margin:0 auto;
	}
.hnz_logo{
	width:305px;
	height:90px;
	margin-top:20px;
	background:url(../../images/hnz_logo.jpg) no-repeat 0 0;
	}
.hnz_search{
	width:338px;
	height:38px;
	
	margin:68px 0 0 0;
	border:1px solid #e3e3e3;
	}
.hnz_search form{
	width:100%;
	height:100%;
	background:#fff;
	}
.hnz_search input{
	height:38px;
	color:#888;
	padding-left:15px;
	width:241px;
	border:0;
	line-height:38px;
	float:left;
	}
.hnz_search a{
	-webkit-transition:background 0.3s;
	transition:background 0.3s;
	}
.hnz_search_mic{
	float:left;
	width:38px;
	height:20px;
	margin-top:9px;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	background:url(../../images/icon_mic1.jpg) no-repeat center center;
	}
.hnz_search_mic:hover{
	background:url(../../images/icon_mic.jpg) no-repeat center center;
	}
.hnz_search_icon{
	float:left;
	width:38px;
	height:20px;
	margin-top:9px;
	background:url(../../images/icon_search1.jpg) no-repeat center center;
	}
.hnz_search_icon:hover{
	background:url(../../images/icon_search.jpg) no-repeat center center;
	}
/*logo End*/
/*Nav Start*/
.hnz_nav_box{
	min-width:1102px;
	height:51px;
	border-bottom:1px solid #fff;
	background:#0391da;
	box-shadow:2px 2px 8px #aaa;
	position:relative;
	}
.hnz_nav{
	width:1001px;
	height:100%;
	margin:0 auto;
	border-left:1px solid #09a8fa;
	}
.hnz_nav a{
	float:left;
	width:110px;
	height:100%;
	line-height:52px;
	color:#a6e1ff;
	font-size:14px;
	text-align:center;
	-webkit-transition:background 0.3s;
	transition:background 0.3s;
	border-left:1px solid #0085c9;
	border-right:1px solid #09a8fa;
	}
.hnz_nav a:hover{
	background:#0085c9;
	color:#fff;
	} 
.hnz_nav_hot{
	background:#0085c9;
	color:#fff;
	}
/*Nav End*/
/*Banner Start*/
.hnz_banner_box{
	min-width:1002px;
	height:395px;
	background:#ebebeb url(../../images/hnz/hnz_banner_bg.jpg) no-repeat center -1px;
	}
.hnz_banner_inner{
	width:1002px;
	height:395px;
	margin:0 auto;
	}
.hnz_banner{
	width:700px;
	height:330px;
	background:#fff;
	margin-top:17px;
	border:2px solid #fff;
	float:left;
	box-shadow:0 0 8px #aaa;
	overflow:hidden;
	position:relative;
	}
.hnz_banner a{
	display:block;
	width:700px;
	height:330px;
	overflow:hidden;
	}
.hnz_banner_btn{
	width:660px;
	padding-left:40px;
	height:32px;
	position:absolute;
	z-index:2;
	background:#000;
	bottom:0;
	left:0;
	opacity:0.5;
	filter:alpha(opacity=50);
	}
.hnz_banner_btn li{
	width:10px;
	height:10px;
	cursor:pointer;
	border-radius:50%;
	margin-top:11px;
	background:#fff;
	float:left;
	_display:inline;
	margin-right:5px;
	}
.hnz_banner_btn .hnz_banner_hot{
	width:8px;
	height:8px;
	background:none;
	border:1px solid #fff;
	}
.hnz_banner_login{
	width:286px;
	height:334px;
	margin-top:17px;
	box-shadow:0 0 8px #aaa;
	float:right;
	background: url(../../images/hnz/hnz_login_bg.png) repeat 0 0;
	}
.hnz_login_t{
	width:100%;
	height:90px;
	}
.hnz_login_t .hnz_login_user,.hnz_login_ent{
	width:50%;
	height:100%;
	float:left;
	position:relative;
	}
.hnz_login_t .hnz_login_user_hot:after{
	content:"";
	width:0;
	height:0;
	border-top:6px solid #0391DA;
	border-left:6px solid rgba(0,0,0,0);
	border-right:6px solid rgba(0,0,0,0);
	position:absolute;
	z-index:200;
	bottom:-6px;
	left:50%;
	margin-left:-6px;
	}
.hnz_login_t .hnz_login_ent_hot:after{
	content:"";
	width:0;
	height:0;
	border-top:6px solid #0080c0;
	border-left:6px solid rgba(0,0,0,0);
	border-right:6px solid rgba(0,0,0,0);
	position:absolute;
	z-index:200;
	bottom:-6px;
	left:50%;
	margin-left:-6px;
	}
.hnz_login_user{
	background:#0391da;
	}
.hnz_login_ent{
	background:#007dba;
	}
.hnz_login_user .hnz_user_icon{
	width:100px;
	height:55px;
	margin:0 auto;
	background:url(../../images/hnz/hnz_login_user1.jpg) no-repeat center center;
	border-bottom:1px dashed #fff;
	}
.hnz_login_user .hnz_user_text{
	width:100px;
	height:auto;
	margin:0 auto;
	text-align:center;
	line-height:30px;
	color:#fff;
	}
.hnz_login_ent .hnz_ent_icon{
	width:100px;
	height:55px;
	margin:0 auto;
	background: url(../../images/hnz/hnz_login_ent.jpg) no-repeat center center;
	border-bottom:1px dashed #a6defa;
	}
.hnz_login_ent .hnz_ent_text{
	width:100px;
	height:auto;
	margin:0 auto;
	text-align:center;
	line-height:30px;
	color:#a6defa;
	}
	
.hnz_login_input .hnz_login_u,.hnz_login_pwd{
	_display:inline;
	width:220px;
	padding-left:25px;
	margin:0 auto;
	line-height:30px;
	color:#8e8e8e;
	height:30px;
	border:0;
	border-bottom:1px solid #cecece;
	margin-left:21px;
	font-size:14px;
	background-color:inherit;
	}
.hnz_login_input .hnz_login_u{
	margin-top:40px;
	background: url(../../images/hnz/hnz_login_user.gif) no-repeat 0 center;
	
	}
.hnz_login_input .hnz_login_pwd{
	margin-top:20px;
	background: url(../../images/hnz/hnz_login_pwd.gif) no-repeat 0 center;
	}
.hnz_login_input_btn{
	width:245px;
	height:35px;
	margin:20px auto;
	}
.hnz_login_input_btn input{
	float:left;
	width:170px;
	height:35px;
	border:0;
	font-size:14px;
	color:#fff;
	background:#0391da;
	}
.hnz_login_input_btn a{
	float:right;
	width:63px;
	height:33px;
	border:1px solid #c6c6c6;
	font-size:14px;
	color:#8e8e8e;
	text-align:center;
	line-height:33px;
	}
.hnz_login_lpwd{
	display:block;
	padding-left:25px;
	width:220px;
	height:33px;
	line-height:33px;
	margin:0 auto;
	font-size:14px;
	color:#8e8e8e;
	background:url(../../images/hnz/hnz_login_help.gif) no-repeat 0 center;
	}
/*Banner End*/













